body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgb(243, 243, 243);
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.campannasIncluidas{
  background-color:rgb(184, 207, 153);
}

.cadaActividad{
  border:lightskyblue solid 2px;
}

.conclusiones{
  border:cornflowerblue solid 2px;
}


.instrucciones{
  max-width: 550px;
  margin: auto;
  text-align: center;
  font-style: italic;
  /* border:rgb(119, 163, 245) solid 2px; */
  background-color:rgb(248, 248, 248);
  padding: 6px;
}


.contenedor-base-original{
  margin-left: auto;
  margin-right: auto;
  border: rgba(255, 0, 0, 0.5) 2px solid;
  max-width: 500px;
  padding: 10px;
  background-color: rgb(255, 220, 208);
}


.boton-base-original{
  border:red 1px solid;
  padding: 10px;
  background-color: coral;
  color: rgb(246, 251, 255);
}


.boton-base-pass{
  border:blue 1px solid;
  padding: 15px;
  background-color: lightblue;
  color: black
}

.centrado{
  max-width: 600px;
  display: block;
  margin: auto;
  text-align: center;
}

.centrado2{
  max-width: 95%;
  display: block;
  margin: auto;
  text-align: center;
}

.centrado3{
  max-width: 99%;
  display: block;
  margin: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.centrado4{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.centrado5{
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.border-blue{
  border:blue solid 3px;
  padding: 10px;
}

.border-green{
  border:green solid 2px;
  padding: 10px;
}

.separador-20 {
  padding: 20px;
}

.separador-10 {
  padding: 10px;
}

.separador-05 {
  padding: 5px;
}


.titulos-form{
  text-align: center;
}

.titulos-index{
  text-align: center;
}

.titulo-estado-producto{
  text-align: center;
  border: darkblue solid 2px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.bold{
  font-weight: bold;
}

.form-inicial{
  display: flex;
  justify-content: space-around;
}


.botones{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* border: rgb(225, 225, 255) 2px solid; */
  max-width: 700px;
  padding: 20px;
}

.siguiente{
  border:cornflowerblue solid 2px;
  width:160px;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}


.boton-descargar{
  border:cornflowerblue solid 2px;
  padding: 10px;
}

.error{
  color:greenyellow;
  background-color: black;
  max-width: 400px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contenedorConclusiones {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.contenedorConclusiones2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  padding: 5px;
}


.anchoReducido{
  max-width: 65%;
}

.italica{
  font-style: italic;
}


.formUserInputs td{
  padding-left: 10px;
  padding-right: 10px;
  min-width: 10px;
}


.inputsUser{
  background-color: cadetblue;
  border:cornflowerblue solid 2px ;
}

th {
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  padding: 5px;
}

td {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  padding: 5px;
}


.fondo-distinto{
  background-color: darkcyan;
}

.random{
  background-color: rgb(143, 217, 219);;
  padding: 2px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.margen{
  margin-left: 15px;
  margin-right: 15px;
}

.vertical{
  display: table-cell;
  vertical-align: inherit;
}


.horizontal1{
  background-color:rgb(142, 254, 255);
}

.horizontal2{
  background-color:rgb(122, 224, 235);
}


.share_input{
  background-color:rgb(213, 254, 255);
}

.rent_input{
  background-color:rgb(223, 254, 255);
}


.share_input_box{
  background-color:rgb(142, 245, 248);
}

.taxa_input_box{
  background-color: rgb(143, 220, 220);;
}

.separar_table{
  border: solid 1px rgb(30, 54, 55);
}

.bold{
  font-weight: bold;
}

.alert-danger{
  font-weight: bold;
  color: yellow;
  background-color: red;
  font-size: larger;
}